{
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties",
    [
      "import",
      { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }
    ]
  ],
  "presets": ["env", "react"]
}
