//  bourbon:galobal-setting
$output-bourbon-deprecation-warnings: false;
$em-base: 75px;
$prefix-for-webkit: false;
$prefix-for-mozilla: false;
$prefix-for-microsoft: false;
$prefix-for-opera: false;
$prefix-for-spec: false;
